header{
    width: 100%; 
    height: 100px;
    background-color: #000000;
}
header #logo{
    text-align: center;
    padding-top: 10px;
}
main{
    margin-top: 10px;
}
/*==== pai  ==== */
#menu-lateral{

    width: 159px;
    float: left;
}
/*== filho
nav{
    background-color: aqua;
}*/
/* ==== neto ==
nav ul{
    background-color: blue;

}*/
/* ==== bisneto =====*/
nav ul li{
    text-transform: uppercase; 
    padding-left: 10px;   

}
/* ==  tataraneto
nav ul li a{
    background-color: yellow;
} */

#menu-lateral nav ul li{
    padding-top: 2px;
    font-size: 12px;
}
#menu-lateral nav ul li a{
    color: black;
    text-decoration: none;
}
#menu-lateral nav ul li a:hover{
    color: tomato;
    text-decoration: none;
    font-weight: bold;
}

#comandos{
    background-color: rgb(186, 166, 206);
}
#menu-lateral li{
    list-style-type: none; 
}
#area-principal h1{
    margin-left: 50px;
    margin-bottom: 100%;
}
#area-principal{
    width: 1150px;
    border: 2px solid lightcoral;
    height:600px;
    margin-left: 190px;
    background-color: aquamarine;

}
#rodape{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    background-color: black;
    color: white;
    height: 35px;
    font-size:12px;
}